.bg {
  width: 250px;
  height: 250px;
  background: #222;
  margin: 100px auto;
  position: relative; }

.oval {
  width: 213px;
  height: 76px;
  background: transparent;
  border: solid #00d8ff 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 77px;
  left: 8.5px; }

.circle {
  width: 42px;
  height: 42px;
  background: #00d8ff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 104px;
  left: 104px; }

#two {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }

#three {
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg); }
