div {
  width: 500px;
  height: 500px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background: darkgrey;
  -webkit-box-shadow: 0 0 4px 1px;
          box-shadow: 0 0 4px 1px;
  position: relative;
  z-index: -200; }
  div img {
    position: absolute;
    top: 150px;
    left: 150px;
    -webkit-box-shadow: 0 0 8px 2px;
            box-shadow: 0 0 8px 2px; }

#id-1 {
  -webkit-animation: carousel-1 6s linear infinite -2s;
          animation: carousel-1 6s linear infinite -2s; }

#id-2 {
  -webkit-animation: carousel-1 6s linear infinite -4s;
          animation: carousel-1 6s linear infinite -4s; }

#id-3 {
  -webkit-animation: carousel-1 6s linear infinite;
          animation: carousel-1 6s linear infinite; }

@-webkit-keyframes carousel-1 {
  from {
    left: 150px;
    z-index: 1; }
  25% {
    left: 260px;
    z-index: -100;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  75% {
    left: 40px;
    z-index: -99;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }

@keyframes carousel-1 {
  from {
    left: 150px;
    z-index: 1; }
  25% {
    left: 260px;
    z-index: -100;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  75% {
    left: 40px;
    z-index: -99;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }
