* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body {
  height: 100%;
  background: yellowgreen; }

h1 {
  width: 400px;
  position: fixed;
  height: 50px;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -200px;
  text-align: center;
  font-weight: 900; }
  h1 span {
    position: relative;
    top: 0;
    font-family: cursive;
    text-shadow: 0 5px 0 #666, 0 5px 10px black; }
  h1:hover span:nth-child(1) {
    -webkit-animation: bounce 0.3s 0.1s ease infinite alternate;
            animation: bounce 0.3s 0.1s ease infinite alternate; }
  h1:hover span:nth-child(2) {
    -webkit-animation: bounce 0.3s 0.2s ease infinite alternate;
            animation: bounce 0.3s 0.2s ease infinite alternate; }
  h1:hover span:nth-child(3) {
    -webkit-animation: bounce 0.3s 0.3s ease infinite alternate;
            animation: bounce 0.3s 0.3s ease infinite alternate; }
  h1:hover span:nth-child(4) {
    -webkit-animation: bounce 0.3s 0.4s ease infinite alternate;
            animation: bounce 0.3s 0.4s ease infinite alternate; }
  h1:hover span:nth-child(5) {
    -webkit-animation: bounce 0.3s 0.5s ease infinite alternate;
            animation: bounce 0.3s 0.5s ease infinite alternate; }
  h1:hover span:nth-child(6) {
    -webkit-animation: bounce 0.3s 0.6s ease infinite alternate;
            animation: bounce 0.3s 0.6s ease infinite alternate; }
  h1:hover span:nth-child(7) {
    -webkit-animation: bounce 0.3s 0.7s ease infinite alternate;
            animation: bounce 0.3s 0.7s ease infinite alternate; }

@-webkit-keyframes bounce {
  100% {
    top: -50px;
    text-shadow: 0 5px 0 #666, 0 55px 30px black; } }

@keyframes bounce {
  100% {
    top: -50px;
    text-shadow: 0 5px 0 #666, 0 55px 30px black; } }

#ball {
  display: none; }
  #ball:checked ~ .ball {
    -webkit-animation: bounce-two 1s alternate infinite;
            animation: bounce-two 1s alternate infinite; }

.ball {
  width: 100px;
  height: 100px;
  background: orange;
  position: fixed;
  bottom: 500px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

@-webkit-keyframes bounce-two {
  1% {
    bottom: 499.95px;
    left: 10px; }
  2% {
    bottom: 499.8px;
    left: 20px; }
  3% {
    bottom: 499.55px;
    left: 30px; }
  4% {
    bottom: 499.2px;
    left: 40px; }
  5% {
    bottom: 498.75px;
    left: 50px; }
  6% {
    bottom: 498.2px;
    left: 60px; }
  7% {
    bottom: 497.55px;
    left: 70px; }
  8% {
    bottom: 496.8px;
    left: 80px; }
  9% {
    bottom: 495.95px;
    left: 90px; }
  10% {
    bottom: 495px;
    left: 100px; }
  11% {
    bottom: 493.95px;
    left: 110px; }
  12% {
    bottom: 492.8px;
    left: 120px; }
  13% {
    bottom: 491.55px;
    left: 130px; }
  14% {
    bottom: 490.2px;
    left: 140px; }
  15% {
    bottom: 488.75px;
    left: 150px; }
  16% {
    bottom: 487.2px;
    left: 160px; }
  17% {
    bottom: 485.55px;
    left: 170px; }
  18% {
    bottom: 483.8px;
    left: 180px; }
  19% {
    bottom: 481.95px;
    left: 190px; }
  20% {
    bottom: 480px;
    left: 200px; }
  21% {
    bottom: 477.95px;
    left: 210px; }
  22% {
    bottom: 475.8px;
    left: 220px; }
  23% {
    bottom: 473.55px;
    left: 230px; }
  24% {
    bottom: 471.2px;
    left: 240px; }
  25% {
    bottom: 468.75px;
    left: 250px; }
  26% {
    bottom: 466.2px;
    left: 260px; }
  27% {
    bottom: 463.55px;
    left: 270px; }
  28% {
    bottom: 460.8px;
    left: 280px; }
  29% {
    bottom: 457.95px;
    left: 290px; }
  30% {
    bottom: 455px;
    left: 300px; }
  31% {
    bottom: 451.95px;
    left: 310px; }
  32% {
    bottom: 448.8px;
    left: 320px; }
  33% {
    bottom: 445.55px;
    left: 330px; }
  34% {
    bottom: 442.2px;
    left: 340px; }
  35% {
    bottom: 438.75px;
    left: 350px; }
  36% {
    bottom: 435.2px;
    left: 360px; }
  37% {
    bottom: 431.55px;
    left: 370px; }
  38% {
    bottom: 427.8px;
    left: 380px; }
  39% {
    bottom: 423.95px;
    left: 390px; }
  40% {
    bottom: 420px;
    left: 400px; }
  41% {
    bottom: 415.95px;
    left: 410px; }
  42% {
    bottom: 411.8px;
    left: 420px; }
  43% {
    bottom: 407.55px;
    left: 430px; }
  44% {
    bottom: 403.2px;
    left: 440px; }
  45% {
    bottom: 398.75px;
    left: 450px; }
  46% {
    bottom: 394.2px;
    left: 460px; }
  47% {
    bottom: 389.55px;
    left: 470px; }
  48% {
    bottom: 384.8px;
    left: 480px; }
  49% {
    bottom: 379.95px;
    left: 490px; }
  50% {
    bottom: 375px;
    left: 500px; }
  51% {
    bottom: 369.95px;
    left: 510px; }
  52% {
    bottom: 364.8px;
    left: 520px; }
  53% {
    bottom: 359.55px;
    left: 530px; }
  54% {
    bottom: 354.2px;
    left: 540px; }
  55% {
    bottom: 348.75px;
    left: 550px; }
  56% {
    bottom: 343.2px;
    left: 560px; }
  57% {
    bottom: 337.55px;
    left: 570px; }
  58% {
    bottom: 331.8px;
    left: 580px; }
  59% {
    bottom: 325.95px;
    left: 590px; }
  60% {
    bottom: 320px;
    left: 600px; }
  61% {
    bottom: 313.95px;
    left: 610px; }
  62% {
    bottom: 307.8px;
    left: 620px; }
  63% {
    bottom: 301.55px;
    left: 630px; }
  64% {
    bottom: 295.2px;
    left: 640px; }
  65% {
    bottom: 288.75px;
    left: 650px; }
  66% {
    bottom: 282.2px;
    left: 660px; }
  67% {
    bottom: 275.55px;
    left: 670px; }
  68% {
    bottom: 268.8px;
    left: 680px; }
  69% {
    bottom: 261.95px;
    left: 690px; }
  70% {
    bottom: 255px;
    left: 700px; }
  71% {
    bottom: 247.95px;
    left: 710px; }
  72% {
    bottom: 240.8px;
    left: 720px; }
  73% {
    bottom: 233.55px;
    left: 730px; }
  74% {
    bottom: 226.2px;
    left: 740px; }
  75% {
    bottom: 218.75px;
    left: 750px; }
  76% {
    bottom: 211.2px;
    left: 760px; }
  77% {
    bottom: 203.55px;
    left: 770px; }
  78% {
    bottom: 195.8px;
    left: 780px; }
  79% {
    bottom: 187.95px;
    left: 790px; }
  80% {
    bottom: 180px;
    left: 800px; }
  81% {
    bottom: 171.95px;
    left: 810px; }
  82% {
    bottom: 163.8px;
    left: 820px; }
  83% {
    bottom: 155.55px;
    left: 830px; }
  84% {
    bottom: 147.2px;
    left: 840px; }
  85% {
    bottom: 138.75px;
    left: 850px; }
  86% {
    bottom: 130.2px;
    left: 860px; }
  87% {
    bottom: 121.55px;
    left: 870px; }
  88% {
    bottom: 112.8px;
    left: 880px; }
  89% {
    bottom: 103.95px;
    left: 890px; }
  90% {
    bottom: 95px;
    left: 900px; }
  91% {
    bottom: 85.95px;
    left: 910px; }
  92% {
    bottom: 76.8px;
    left: 920px; }
  93% {
    bottom: 67.55px;
    left: 930px; }
  94% {
    bottom: 58.2px;
    left: 940px; }
  95% {
    bottom: 48.75px;
    left: 950px; }
  96% {
    bottom: 39.2px;
    left: 960px; }
  97% {
    bottom: 29.55px;
    left: 970px; }
  98% {
    bottom: 19.8px;
    left: 980px; }
  99% {
    bottom: 9.95px;
    left: 990px; }
  100% {
    bottom: 0px;
    left: 1000px; } }

@keyframes bounce-two {
  1% {
    bottom: 499.95px;
    left: 10px; }
  2% {
    bottom: 499.8px;
    left: 20px; }
  3% {
    bottom: 499.55px;
    left: 30px; }
  4% {
    bottom: 499.2px;
    left: 40px; }
  5% {
    bottom: 498.75px;
    left: 50px; }
  6% {
    bottom: 498.2px;
    left: 60px; }
  7% {
    bottom: 497.55px;
    left: 70px; }
  8% {
    bottom: 496.8px;
    left: 80px; }
  9% {
    bottom: 495.95px;
    left: 90px; }
  10% {
    bottom: 495px;
    left: 100px; }
  11% {
    bottom: 493.95px;
    left: 110px; }
  12% {
    bottom: 492.8px;
    left: 120px; }
  13% {
    bottom: 491.55px;
    left: 130px; }
  14% {
    bottom: 490.2px;
    left: 140px; }
  15% {
    bottom: 488.75px;
    left: 150px; }
  16% {
    bottom: 487.2px;
    left: 160px; }
  17% {
    bottom: 485.55px;
    left: 170px; }
  18% {
    bottom: 483.8px;
    left: 180px; }
  19% {
    bottom: 481.95px;
    left: 190px; }
  20% {
    bottom: 480px;
    left: 200px; }
  21% {
    bottom: 477.95px;
    left: 210px; }
  22% {
    bottom: 475.8px;
    left: 220px; }
  23% {
    bottom: 473.55px;
    left: 230px; }
  24% {
    bottom: 471.2px;
    left: 240px; }
  25% {
    bottom: 468.75px;
    left: 250px; }
  26% {
    bottom: 466.2px;
    left: 260px; }
  27% {
    bottom: 463.55px;
    left: 270px; }
  28% {
    bottom: 460.8px;
    left: 280px; }
  29% {
    bottom: 457.95px;
    left: 290px; }
  30% {
    bottom: 455px;
    left: 300px; }
  31% {
    bottom: 451.95px;
    left: 310px; }
  32% {
    bottom: 448.8px;
    left: 320px; }
  33% {
    bottom: 445.55px;
    left: 330px; }
  34% {
    bottom: 442.2px;
    left: 340px; }
  35% {
    bottom: 438.75px;
    left: 350px; }
  36% {
    bottom: 435.2px;
    left: 360px; }
  37% {
    bottom: 431.55px;
    left: 370px; }
  38% {
    bottom: 427.8px;
    left: 380px; }
  39% {
    bottom: 423.95px;
    left: 390px; }
  40% {
    bottom: 420px;
    left: 400px; }
  41% {
    bottom: 415.95px;
    left: 410px; }
  42% {
    bottom: 411.8px;
    left: 420px; }
  43% {
    bottom: 407.55px;
    left: 430px; }
  44% {
    bottom: 403.2px;
    left: 440px; }
  45% {
    bottom: 398.75px;
    left: 450px; }
  46% {
    bottom: 394.2px;
    left: 460px; }
  47% {
    bottom: 389.55px;
    left: 470px; }
  48% {
    bottom: 384.8px;
    left: 480px; }
  49% {
    bottom: 379.95px;
    left: 490px; }
  50% {
    bottom: 375px;
    left: 500px; }
  51% {
    bottom: 369.95px;
    left: 510px; }
  52% {
    bottom: 364.8px;
    left: 520px; }
  53% {
    bottom: 359.55px;
    left: 530px; }
  54% {
    bottom: 354.2px;
    left: 540px; }
  55% {
    bottom: 348.75px;
    left: 550px; }
  56% {
    bottom: 343.2px;
    left: 560px; }
  57% {
    bottom: 337.55px;
    left: 570px; }
  58% {
    bottom: 331.8px;
    left: 580px; }
  59% {
    bottom: 325.95px;
    left: 590px; }
  60% {
    bottom: 320px;
    left: 600px; }
  61% {
    bottom: 313.95px;
    left: 610px; }
  62% {
    bottom: 307.8px;
    left: 620px; }
  63% {
    bottom: 301.55px;
    left: 630px; }
  64% {
    bottom: 295.2px;
    left: 640px; }
  65% {
    bottom: 288.75px;
    left: 650px; }
  66% {
    bottom: 282.2px;
    left: 660px; }
  67% {
    bottom: 275.55px;
    left: 670px; }
  68% {
    bottom: 268.8px;
    left: 680px; }
  69% {
    bottom: 261.95px;
    left: 690px; }
  70% {
    bottom: 255px;
    left: 700px; }
  71% {
    bottom: 247.95px;
    left: 710px; }
  72% {
    bottom: 240.8px;
    left: 720px; }
  73% {
    bottom: 233.55px;
    left: 730px; }
  74% {
    bottom: 226.2px;
    left: 740px; }
  75% {
    bottom: 218.75px;
    left: 750px; }
  76% {
    bottom: 211.2px;
    left: 760px; }
  77% {
    bottom: 203.55px;
    left: 770px; }
  78% {
    bottom: 195.8px;
    left: 780px; }
  79% {
    bottom: 187.95px;
    left: 790px; }
  80% {
    bottom: 180px;
    left: 800px; }
  81% {
    bottom: 171.95px;
    left: 810px; }
  82% {
    bottom: 163.8px;
    left: 820px; }
  83% {
    bottom: 155.55px;
    left: 830px; }
  84% {
    bottom: 147.2px;
    left: 840px; }
  85% {
    bottom: 138.75px;
    left: 850px; }
  86% {
    bottom: 130.2px;
    left: 860px; }
  87% {
    bottom: 121.55px;
    left: 870px; }
  88% {
    bottom: 112.8px;
    left: 880px; }
  89% {
    bottom: 103.95px;
    left: 890px; }
  90% {
    bottom: 95px;
    left: 900px; }
  91% {
    bottom: 85.95px;
    left: 910px; }
  92% {
    bottom: 76.8px;
    left: 920px; }
  93% {
    bottom: 67.55px;
    left: 930px; }
  94% {
    bottom: 58.2px;
    left: 940px; }
  95% {
    bottom: 48.75px;
    left: 950px; }
  96% {
    bottom: 39.2px;
    left: 960px; }
  97% {
    bottom: 29.55px;
    left: 970px; }
  98% {
    bottom: 19.8px;
    left: 980px; }
  99% {
    bottom: 9.95px;
    left: 990px; }
  100% {
    bottom: 0px;
    left: 1000px; } }
