* {
  margin: 0; }

h1 {
  font: 150px "Arial";
  text-align: center;
  padding: 50px;
  background: #eeeeee;
  text-shadow: -1px 2px 1px #484848, -2px 4px 1px #4f4f4f, -3px 6px 1px #565656, -4px 8px 1px #5d5d5d, -5px 10px 1px #646464, -6px 12px 1px #6b6b6b, -7px 14px 1px #727272, -8px 16px 1px #797979, -9px 18px 1px #808080, -10px 20px 1px #878787, -11px 22px 1px #8e8e8e, -12px 24px 1px #959595, -13px 26px 1px #9c9c9c, -14px 28px 1px #a3a3a3, -15px 30px 1px #aaa, -16px 32px 1px #b1b1b1, -17px 34px 1px #b8b8b8, -18px 36px 1px #bfbfbf, -19px 38px 1px #c6c6c6, -20px 40px 1px #cdcdcd, -21px 42px 1px #d4d4d4, -22px 44px 1px #dbdbdb, -23px 46px 1px #e2e2e2, -24px 48px 1px #e9e9e9; }

h2 {
  font: 150px "Arial";
  text-align: center;
  padding: 50px;
  background: #eeeeee;
  text-shadow: -25px 50px 1px black; }
