div {
  width: 400px;
  height: 400px;
  margin: auto;
  background: #2c3e50;
  padding-top: 165px;
  position: relative; }

button {
  display: block;
  width: 200px;
  height: 75px;
  position: absolute;
  left: 75px;
  top: 100px;
  margin: auto;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  color: #2c3e50;
  -webkit-box-shadow: 10px 10px red;
          box-shadow: 10px 10px red;
  background: white;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer; }
  button:hover {
    -webkit-box-shadow: -10px -10px white;
            box-shadow: -10px -10px white;
    background: red;
    color: #fff;
    left: 85px;
    top: 110px; }
